**/.idea/
**/.venv*/
**/.ipynb_checkpoints/
**/__pycache__/
**/build/
# **/dist/
**/proto/
**/proto_origin/
**/cpp_generated/
**/python_generated/
.vscode/
**/*.bak
**/*.bk
**/*.egg-info/
**/build_proto.*
