**/.idea/
**/.venv*/
**/.vscode/
**/.ipynb_checkpoints/
**/__pycache__/
**/build/
**/dist/
**/cpp_generated/
**/python_generated/
**/*.bak
**/*.bk
**/*.egg-info/
**/tests/
**/proto_files/